APP_ENV=production
APP_DEBUG=false
APP_URL=https://elitedata.pro

SESSION_DRIVER=database
SESSION_COOKIE=elitedata_session
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_ENCRYPT=true
